ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.app-menu {
  background-color: rgb(215, 199, 226);
}
li {
  float: left;
}

li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: rgb(102, 157, 230);
}
